{% load static %}
{% load jurnal_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title%}
    </title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
</head>

<body>
    {% include "account/menubar.html" %}
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
    <div id="sidebar">
        <h2>Reference Note</h2>
        <p>Historical Record of Reference</p>
        <p><a href="{% url 'jurnal:reference_create' %}">Add New Reference</a></p>
        <h4>Last Added Reference</h4>
        {% show_latest_references 3 %}
        <p>Total References : {% total_references %} </p>
    </div>
</body>

</html>